@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar {
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 228, 228);
  border-bottom-width: 1px;
}

.link-column {
  border-right-style: solid;
  border-right-color: rgb(230, 228, 228);
  border-right-width: 1px;
}

#blog-main {
  height: 90vh;
}

#content-row {
  height: 100%;
}

.pill-button {
width: 140px;
height: 45px;
font-family: 'Roboto', sans-serif;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #fff;
background-color: #57b243;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}

.pill-button:hover {
background-color: #b5ffa4;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
}

.publish-button {
width: 140px;
height: 45px;
font-family: 'Roboto', sans-serif;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #fff;
background-color: gray;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}

.publish-button:hover {
  background-color: #b5ffa4;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

a:hover {
  color: #57b243 !important;
}

.post-title {
  font-family: 'Lobster', cursive;;
  font-size: 60px;
}

.post-body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#post-letter {
  font-family: 'Lobster', cursive;;
  font-size: 60px;
}

#user-letter {
  font-family: 'Lobster', cursive;;
  font-size: 40px; 
}

.login-element {
  font-family: 'Roboto', sans-serif;
}

.post-button {
  border-style: none;
  background-color: white;
}

.icon {
  pointer-events: none;
}